<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.oriana.bliknetController">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-sdk android:minSdkVersion="21"/> <!-- android:icon="@drawable/icon" -->
    <application
            android:label="Bliknet"
            android:icon="@drawable/blik"
            android:name=".BliknetApp"
        >
        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        <service android:name=".MQTTService"/>

        <!-- Main Activity -->
        <activity android:name=".mainAct"> <!--  android:launchMode="singleTop" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="Camera View" android:name=".cameraAct"/>
        <activity android:label="Alert Settings" android:name=".setalertsAct"/>
        <activity android:label="MQTT Msg" android:name=".mqttserviceAct"/>
    </application>
</manifest>
